.react-date-picker__wrapper {
  height: 40px;
  background: #d3947a;
  color: #606060;
  font-size: 16px;
  border: none;
  margin: 5px 8px 10px 0;
  cursor: pointer;
}

.react-date-picker__inputGroup__year,
.react-date-picker__inputGroup__month,
.react-date-picker__inputGroup__day {
  color: #606060;
}

.react-date-picker__button svg {
  stroke: #606060;
}